/.idea
/database/__pycache__/
/__pycache__/
/.vscode
/aplication/__pycache__
/aplication/__pycache__/
/aplication/__pycache__/
/aplication/__pycache__/
**/__pycache__/*
/aplication/test.py
/aplication/.env
/aplication/database/data/test.mp4
