<!doctype html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <title>$carname</title>
        <link rel="stylesheet" type="text/css" href="../../static/css/styles.css"/>

        <style>
            table {
                background-color: #ecececef;
                width: 100%;
               /* border: 0;
                border-collapse: collapse;*/
            }

            td, th {
                border: 0px;
                text-align: left;
                padding: 8px;
            }
        </style>

    </head>


    <body background="background2.png">
        <div class="menu" id="wrapper">
            <div id="left">
                <a href="/oferta" method="post">
                    <button class="button">Oferta</button></a>
                <a href="/miasta" method="post">
                    <button class="button">Miasta</button></a>
                <a href="/oNas" method="post">
                    <button class="button">O nas</button></a>
            </div>

            <div id="right">
                $logowanie
            </div>
            
        </div>
        <br><br>

        <div class="pad5">
            <div class="centercarinfo" id="wrapper">
                <h1>$carname</h1>

                <div id="left" style="margin-left: 10%;">
                    $image
                </div>
                <div id="right" style="margin-right: 13%;">
                    <table class="infotable">
                        <tr>
                            <td>Marka:</td>
                            <td>$brand</td>
                        </tr>
                        <tr>
                            <td>Model:</td>
                            <td>$model</td>
                        </tr>
                        <tr>
                            <td>Typ:</td>
                            <td>$car_type</td>
                        </tr>
                        <tr>
                            <td>Rok produkcji:</td>
                            <td>$production_year</td>
                        </tr>
                        <tr>
                            <td>Typ paliwa:</td>
                            <td>$fuel_type</td>
                        </tr>
                        <tr>
                            <td>Skrzynia biegów:</td>
                            <td>$gearbox_type</td>
                        </tr>
                        <tr>
                            <td>Cena za dobe::</td>
                            <td>$price</td>
                        </tr>
                        <tr>
                            <td>Miasto:</td>
                            <td>$city</td>
                        </tr> 
                        
                    </table>
                    <br><br><br>
                    <a href="/oferta">
                        <button class="button">Powrót</button></a>
                    <a href="/reserve_car" method="post" >
                            <button class="button">Zarezerwuj</button></a>

                </div>
            </div>            
        </div>
    </body>
</html>