<!doctype html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <title>{{ info.1 }}</title>
        <link rel="stylesheet" type="text/css" href="../../static/css/styles.css"/>

        <style>
            table {
                background-color: #ecececef;
                width: 100%;
               /* border: 0;
                border-collapse: collapse;*/
            }

            td, th {
                border: 0px;
                text-align: left;
                padding: 8px;
            }
        </style>

    </head>


    <body background="background2.png">
        <div class="menu" id="wrapper">
            <div id="left">
                <a href="/oferta" method="post">
                    <button class="button">Oferta</button></a>
                <a href="/miasta" method="post">
                    <button class="button">Miasta</button></a>
                <a href="/oNas" method="post">
                    <button class="button">O nas</button></a>
            </div>

            <div id="right">
                {% if logged == True %}
                {% if unread_messages == True %}
                    <a href="messages\">
                        <button id = "messagesbutton" class="button_new_mes">Wiadomości [Nowe]</button></a> 
                {% else %}
                    <a href="messages">
                        <button id = "messagesbutton" class="button">Wiadomości</button></a>
                {% endif %}

                <a href="profile_page">
                    <button class="button">Profil</button></a>
                <a href="log_out">
                    <button class="button">Wyloguj się</button></a> 
                <script src="new_message.js"></script>
              {% else %}
                <a href="login_page">
                    <button class="button">Zaloguj się</button></a>
                <a href="register_page">
                    <button class="button">Zarejestruj się</button></a>
              {% endif %}
            </div>
            
        </div>
        <br><br>

        <div class="pad5">
            <div class="centercarinfo" id="wrapper">
                <h1>{{ info.1 }}</h1>

                <div id="left" style="margin-left: 10%;">
                    <img class="centered-and-cropped" width="600px" height="400px" src="getImageFromCarDb?carId={{ info.0 }}"/>"
                </div>
                <div id="right" style="margin-right: 13%;">
                    <table class="infotable">
                        <tr>
                            <td>Marka:</td>
                            <td>{{ info.2 }}</td>
                        </tr>
                        <tr>
                            <td>Model:</td>
                            <td>{{ info.3 }}</td>
                        </tr>
                        <tr>
                            <td>Typ:</td>
                            <td>{{ info.4 }}</td>
                        </tr>
                        <tr>
                            <td>Rok produkcji:</td>
                            <td>{{ info.5 }}</td>
                        </tr>
                        <tr>
                            <td>Typ paliwa:</td>
                            <td>{{ info.6 }}</td>
                        </tr>
                        <tr>
                            <td>Skrzynia biegów:</td>
                            <td>{{ info.7 }}</td>
                        </tr>
                        <tr>
                            <td>Cena za dobe::</td>
                            <td>{{ info.8 }}</td>
                        </tr>
                        <tr>
                            <td>Miasto:</td>
                            <td>{{ info.9 }}</td>
                        </tr> 
                        
                    </table>
                    <br><br><br>
                    <a href="/oferta">
                        <button class="button">Powrót</button></a>
                    <a href="/make_reservation?car_id={{ info.0 }}" method="post" >
                            <button class="button">Zarezerwuj</button></a>

                </div>
            </div>            
        </div>
    </body>
</html>