<!doctype html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <title>Miasta</title>
        <link rel="stylesheet" type="text/css" href="../../static/css/styles.css"/>
    </head>


    <body background="background2.png">

        <div class="menu" id="wrapper">
            <div id="left">
                <a href="/oferta" method="post">
                    <button class="button">Oferta</button></a>
                <a href="/miasta" method="post">
                    <button class="button">Miasta</button></a>
                <a href="/oNas" method="post">
                    <button class="button">O nas</button></a>
            </div>

            <div id="right">
                {% if logged == True %}
                {% if unread_messages == True %}
                    <a href="messages">
                        <button id = "messagesbutton" class="button_new_mes">Wiadomości [Nowe]</button></a> 
                {% else %}
                    <a href="messages">
                        <button id = "messagesbutton" class="button">Wiadomości</button></a>
                {% endif %}

                <a href="profile_page">
                    <button class="button">Profil</button></a>
                <a href="log_out">
                    <button class="button">Wyloguj się</button></a> 
                <script src="new_message.js"></script>
              {% else %}
                <a href="login_page">
                    <button class="button">Zaloguj się</button></a>
                <a href="register">
                    <button class="button">Zarejestruj się</button></a>
              {% endif %}
            </div>
            
            
        </div>
        <br>
        <div style="text-align: center">
            <h1 style="color:rgb(80, 80, 80)"> Miasta, w których oferujemy wynajem</h1>
            <br>
            {% for city in cities %}
            <a href="/oferta?city={{ city }}"><button class="button-big"> {{ city }} </button></a><br><br>
            {% endfor %}
            
        </div>


        
    </body>
</html>