<!doctype html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <title>Edytuj dane</title>
        <link rel="stylesheet" type="text/css" href="../../static/css/styles.css"/>

    </head>


    <body class="padlogin">

        <div class="center">
            <h1>Edytuj dane</h1>
            
            <form method="POST" , enctype="multipart/form-data" action='/data_edit'>
                
                <input type="hidden" id="username" name="username" value="{{ username }}">
                <br><br>
                <label for="password">Hasło:</label><br>
                <input type="password" id="password" name="password">
                <br><br>
                <label for="password_retype">Powtórz hasło:</label><br>
                <input type="password" id="password_retype" name="password_retype">
                <br><br>
                <label for="name">Imię:</label><br>
                <input type="text" id="name" name="name">
                <br><br>
                <label for="surname">Nazwisko:</label><br>
                <input type="text" id="surname" name="surname">
                <br><br>
                <label for="email">Email:</label><br>
                <input type="text" id="email" name="email">
                <br><br>

                <input class="button" type="submit" value="Edytuj">
              </form>

              <br>
            <a href="/profile_page">
                <button class="button">Powrót</button>
            </a>
        </div>

    </body>
</html>