<!doctype html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        
        <title>Logowanie</title>

        <link rel="stylesheet" type="text/css" href="../../static/css/styles.css"/>

    </head>


    <body class="padlogin">

        <div class="center">
            <h1>Zaloguj się</h1>
            
            <form method="POST", action='/login_page' enctype="multipart/form-data">
                <label for="username">Nazwa użytkownika:</label><br>
                <input type="text" id="username" name="username">
                <br><br>
                <label for="password">Hasło:</label><br>
                <input type="password" id="password" name="password">
                <br><br>
                <input class="button" type="submit" value="Zaloguj">
            </form>
            <br>

            <a href="/githubauth">
                <button class="button">Zaloguj się przez Github</button></a>

            <br>

            <a href="/">
                <button class="button">Powrót</button></a>
        </div>

    </body>
</html>