<!doctype html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <title>Rezerwacja</title>
        <link rel="stylesheet" type="text/css" href="../../static/css/styles.css"/>
         
        <link rel="stylesheet" href="../../static/css/jquery-ui.css">
        <script src="../../static/js/jquery-3.6.0.js"></script>
        <script src="../../static/js/jquery-ui.js"></script>


    
    </head>


    <body>

        <div class="menu" id="wrapper">
            <div id="left">
                <a href="/oferta" method="post">
                    <button class="button">Oferta</button></a>
                <a href="/miasta" method="post">
                    <button class="button">Miasta</button></a>
                <a href="/oNas" method="post">
                    <button class="button">O nas</button></a>
            </div>

            <div id="right">
                {% if logged == True %}
                {% if unread_messages == True %}
                    <a href="messages">
                        <button id = "messagesbutton" class="button_new_mes">Wiadomości [Nowe]</button></a> 
                {% else %}
                    <a href="messages">
                        <button id = "messagesbutton" class="button">Wiadomości</button></a>
                {% endif %}

                <a href="profile_page">
                    <button class="button">Profil</button></a>
                <a href="log_out">
                    <button class="button">Wyloguj się</button></a> 
                <script src="new_message.js"></script>
              {% else %}
                <a href="login_page">
                    <button class="button">Zaloguj się</button></a>
                <a href="register">
                    <button class="button">Zarejestruj się</button></a>
              {% endif %}
            </div> 
        </div>

        <div class = "padlogin">
            <div class="center">
                <h1>Rezerwacja: {{ info.0 }}</h1>
                <form method="POST", action='/make_reservation' enctype="multipart/form-data">
                    <input type="hidden" id="car_id" name="car_id" value="{{ info.1 }}" >
                    <input type="hidden" id="user_id" name="user_id" value="{{ info.2 }}" >

                    <label for="start">Dzień rozpoczęcia</label><br>
                    <input type="text" id="start" name="start"><br><br>

                    <label for="end">Dzień zakończenia</label><br>
                    <input type="text" id="end" name="end"><br><br>

                    <label for="name">Imię:</label><br>
                    <input type="text" id="name" name="name"><br><br>

                    <label for="surname">Nazwisko:</label><br>
                    <input type="text" id="surname" name="surname"><br><br>

                    <label for="phonenr">Numer telefonu:</label><br>
                    <input type="text" id="phonenr" name="phonenr"><br><br>

                    <label for="email">Email:</label><br>
                    <input type="text" id="email" name="email"><br><br>

                    <input type="submit" value="Rezerwuj">
                </form> 

                <br>
                <a href="/car_info?car_id={{ info.1 }}">
                    <button class="button">Powrót</button>
                </a>

            </div>
        </div>


        <script>
            var array = {{ excludedates|safe }}

            $(document).ready(function() {

                $(function() {
                    $("#start").datepicker({
                        minDate: 0,
                        beforeShowDay: function(date){
                        var string = jQuery.datepicker.formatDate('yy-mm-dd', date);
                        return [$.inArray(string, array) == -1];
                }
                    });
                });

                $(function() {
                    $("#end").datepicker({
                        beforeShowDay: function(date){
                        var string = jQuery.datepicker.formatDate('yy-mm-dd', date);
                        return [$.inArray(string, array) == -1];
                }
                    });
                });

                $('#start').change(function() {
                    startDate = $(this).datepicker('getDate');
                    $("#end").datepicker("option", "minDate", startDate);
                })

                $('#end').change(function() {
                    endDate = $(this).datepicker('getDate');
                    $("#start").datepicker("option", "maxDate", endDate);
                })
            })
        </script>
    </body>
</html>