<!doctype html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <title>Wiadomości</title>

        <link rel="stylesheet" type="text/css" href="../../static/css/styles.css"/>
    </head>


    <body class="padmessages">

        <div class="center">
            <h1>Wiadomości</h1>
            <div id = "messDiv" class="scroll">
                {% for message in messages %}
                <br>
                <div class="message">
                    {% if message.3 == 'unread' %}
                    <p style="border:2px solid rgb(80, 80, 80); background-color: rgb(220, 220, 220); width: 7%; border-radius: 7px; margin: auto;"> Nowa </p>
                    {% endif %}
                    <p> {{ message.2 }}</p>
                    <p style="color:rgb(80, 80, 80); font-size:13px"> {{ message.4[:-10] }}</p>
                </div>
                {% endfor %}
            </div>
            <br><br><br>

            <a href="/profile_page">
                <button class="button">Powrót</button>
            </a>
        </div>

        <script>
            var objDiv = document.getElementById("messDiv");
            objDiv.scrollTop = objDiv.scrollHeight;
        </script>
    </body>
</html>