<!doctype html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <title>Oferta</title>

        <link rel="stylesheet" type="text/css" href="../../static/css/styles.css"/>
    </head>


    <body background="background2.png" class="norepeat">

        <div class="menu" id="wrapper">
            <div id="left">
                <a href="/oferta" method="post">
                    <button class="button">Oferta</button></a>
                <a href="/miasta" method="post">
                    <button class="button">Miasta</button></a>
                <a href="/oNas" method="post">
                    <button class="button">O nas</button></a>
            </div>

            <div id="right">
              {% if logged == True %}
                {% if unread_messages == True %}
                    <a href="messages\">
                        <button id = "messagesbutton" class="button_new_mes">Wiadomości [Nowe]</button></a> 
                {% else %}
                    <a href="messages">
                        <button id = "messagesbutton" class="button">Wiadomości</button></a>
                {% endif %}

                <a href="profile_page">
                    <button class="button">Profil</button></a>
                <a href="log_out">
                    <button class="button">Wyloguj się</button></a>
              {% else %}
                <a href="login_page">
                    <button class="button">Zaloguj się</button></a>
                <a href="register_page">
                    <button class="button">Zarejestruj się</button></a>
              {% endif %}
            </div>
            
            
        </div>
        <br>
        <div class="pad10">
            <div>
                <h1>Samochody</h1>
                <p>Wyszukaj samochód:</p>
                <form autocomplete="off" action="/search_cars" method="post">
                    <div class="autocomplete" style="width:300px;">
                        <input type="search" id="csearch" name="csearch">
                    </div>
                    <input type="submit" value="Szukaj">
                </form>
                <br>
                <p>Filtruj:</p>
                <form autocomplete="off" action="/filter_cars" method="post">
                    <label for="brand">Marka:</label>
                    <select id="brand" name="brand">
                        <option value="any">Dowolna</option>
                        {% for brandoption in filterOptions.0 %}
                        <option value="{{ brandoption }}"> {{ brandoption }} </option>
                        {% endfor %}
                    </select>
                    <label style = "padding-left: 20px;" for="car_type">Typ samochodu:</label>
                    <select id="car_type" name="car_type">
                        <option value="any">Dowolny</option>
                        {% for cartypeoption in filterOptions.1 %}
                        <option value="{{ cartypeoption }}"> {{ cartypeoption }} </option>
                        {% endfor %}
                    </select>
                    <label style = "padding-left: 20px;" for="fuel_type">Typ paliwa:</label>
                    <select id="fuel_type" name="fuel_type">
                        <option value="any">Dowolna</option>
                        {% for fueltypeoption in filterOptions.2 %}
                        <option value="{{ fueltypeoption }}"> {{ fueltypeoption }} </option>
                        {% endfor %}
                    </select>
                    <label style = "padding-left: 20px;"  for="gearbox_type">Skrzynia biegów:</label>
                    <select id="gearbox_type" name="gearbox_type">
                        <option value="any">Dowolna</option>
                        {% for gearboxtypeoption in filterOptions.3 %}
                        <option value="{{ gearboxtypeoption }}"> {{ gearboxtypeoption }} </option>
                        {% endfor %}
                    </select>
                    <label style = "padding-left: 20px;" for="city">Miasto:</label>
                    <select id="city" name="city">
                        <option value="any">Dowolne</option>
                        {% for cityoption in filterOptions.4 %}
                        <option value="{{ cityoption }}"> {{ cityoption }} </option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Filtruj">
                </form>

                <br>
            </div>
              {% if cars|length > 0 %}
              {% for car in cars %}
              <div class="center" id="wrapper">
                <div id="left" style="margin-left: 10%;">
                  <img class="centered-and-cropped" width="600px" height="400px" src="getImageFromCarDb?carId={{car.0}}"/>
                </div>
                <div id="right" style="margin-right: 13%;"><br><br><br>
                  <h1> {{car.1}} -  {{car.2}}</h1>
                  <p> {{car.4}} </p>
                  <p> {{car.7}} /doba</p>
                  <br><br><br>

                  <a href="car_info?car_id={{car.0}}">
                    <button class="button">Wyświetl</button></a>
                </div>
              </div>
              <br><br>
              {% endfor %}
              {% endif %}

            </div>

            <br><br><br><br><br><br><br><br><br><br>
        </div>


        <script>
            function autocomplete(inp, arr) {
              /*the autocomplete function takes two arguments,
              the text field element and an array of possible autocompleted values:*/
              var currentFocus;
              /*execute a function when someone writes in the text field:*/
              inp.addEventListener("input", function(e) {
                  var a, b, i, val = this.value;
                  /*close any already open lists of autocompleted values*/
                  closeAllLists();
                  if (!val) { return false;}
                  currentFocus = -1;
                  /*create a DIV element that will contain the items (values):*/
                  a = document.createElement("DIV");
                  a.setAttribute("id", this.id + "autocomplete-list");
                  a.setAttribute("class", "autocomplete-items");
                  /*append the DIV element as a child of the autocomplete container:*/
                  this.parentNode.appendChild(a);
                  /*for each item in the array...*/
                  for (i = 0; i < arr.length; i++) {
                    /*check if the item starts with the same letters as the text field value:*/
                    if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                      /*create a DIV element for each matching element:*/
                      b = document.createElement("DIV");
                      /*make the matching letters bold:*/
                      b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                      b.innerHTML += arr[i].substr(val.length);
                      /*insert a input field that will hold the current array item's value:*/
                      b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                      /*execute a function when someone clicks on the item value (DIV element):*/
                      b.addEventListener("click", function(e) {
                          /*insert the value for the autocomplete text field:*/
                          inp.value = this.getElementsByTagName("input")[0].value;
                          /*close the list of autocompleted values,
                          (or any other open lists of autocompleted values:*/
                          closeAllLists();
                      });
                      a.appendChild(b);
                    }
                  }
              });
              /*execute a function presses a key on the keyboard:*/
              inp.addEventListener("keydown", function(e) {
                  var x = document.getElementById(this.id + "autocomplete-list");
                  if (x) x = x.getElementsByTagName("div");
                  if (e.keyCode == 40) {
                    /*If the arrow DOWN key is pressed,
                    increase the currentFocus variable:*/
                    currentFocus++;
                    /*and and make the current item more visible:*/
                    addActive(x);
                  } else if (e.keyCode == 38) { //up
                    /*If the arrow UP key is pressed,
                    decrease the currentFocus variable:*/
                    currentFocus--;
                    /*and and make the current item more visible:*/
                    addActive(x);
                  } else if (e.keyCode == 13) {
                    /*If the ENTER key is pressed, prevent the form from being submitted,*/
                    e.preventDefault();
                    if (currentFocus > -1) {
                      /*and simulate a click on the "active" item:*/
                      if (x) x[currentFocus].click();
                    }
                  }
              });
              function addActive(x) {
                /*a function to classify an item as "active":*/
                if (!x) return false;
                /*start by removing the "active" class on all items:*/
                removeActive(x);
                if (currentFocus >= x.length) currentFocus = 0;
                if (currentFocus < 0) currentFocus = (x.length - 1);
                /*add class "autocomplete-active":*/
                x[currentFocus].classList.add("autocomplete-active");
              }
              function removeActive(x) {
                /*a function to remove the "active" class from all autocomplete items:*/
                for (var i = 0; i < x.length; i++) {
                  x[i].classList.remove("autocomplete-active");
                }
              }
              function closeAllLists(elmnt) {
                /*close all autocomplete lists in the document,
                except the one passed as an argument:*/
                var x = document.getElementsByClassName("autocomplete-items");
                for (var i = 0; i < x.length; i++) {
                  if (elmnt != x[i] && elmnt != inp) {
                    x[i].parentNode.removeChild(x[i]);
                  }
                }
              }
              /*execute a function when someone clicks in the document:*/
              document.addEventListener("click", function (e) {
                  closeAllLists(e.target);
              });
            }
            
            /*An array containing all the country names in the world:*/
            var cars = {{ autocompleteData|safe }};
            
            /*initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values:*/
            autocomplete(document.getElementById("csearch"), cars);

            
        </script>
    </body>
</html>