<!doctype html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <title>Profil</title>
        <link rel="stylesheet" type="text/css" href="../../static/css/styles.css"/>
    </head>


    <body>
        <div class="menu" id="wrapper">
            <div id="left">
                <a href="/oferta" method="post">
                    <button class="button">Oferta</button></a>
                <a href="/miasta" method="post">
                    <button class="button">Miasta</button></a>
                <a href="/oNas" method="post">
                    <button class="button">O nas</button></a>
            </div>

            <div id="right">
                $logowanie
            </div> 
        </div>

        <div class="padlogin">
            <div class="center">
                <h1>Mój profil</h1>
                
                $dataeditbutton

                <br>
                <a href="/messages" method="post">
                    <button class="button">Wiadomości</button>
                </a>

                <br>
                <a href="/">
                    <button class="button">Powrót</button>
                </a>
            </div>
        </div>
    </body>
</html>