<!doctype html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <title>Profil</title>
        <link rel="stylesheet" type="text/css" href="../../static/css/styles.css"/>
    </head>


    <body>
        <div class="menu" id="wrapper">
            <div id="left">
                <a href="/oferta" method="post">
                    <button class="button">Oferta</button></a>
                <a href="/miasta" method="post">
                    <button class="button">Miasta</button></a>
                <a href="/oNas" method="post">
                    <button class="button">O nas</button></a>
            </div>

            <div id="right">
                {% if logged == True %}
                {% if unread_messages == True %}
                    <a href="messages">
                        <button id = "messagesbutton" class="button_new_mes">Wiadomości [Nowe]</button></a> 
                {% else %}
                    <a href="messages">
                        <button id = "messagesbutton" class="button">Wiadomości</button></a>
                {% endif %}

                <a href="profile_page">
                    <button class="button">Profil</button></a>
                <a href="log_out">
                    <button class="button">Wyloguj się</button></a> 
              {% else %}
                <a href="login_page">
                    <button class="button">Zaloguj się</button></a>
                <a href="register">
                    <button class="button">Zarejestruj się</button></a>
              {% endif %}
            </div> 
        </div>

        <div class="padlogin">
            <div class="center">
                <h1>Mój profil</h1>
                <h2> {{ username }}</h2>
                
                {% if role == 'client' %}
                <a href="/data_edit">
                    <button class="button">Edytuj moje dane</button></a>
                {% endif %}

                {% if role == 'admin' %}
                <a href="/admin">
                    <button class="button">Strona administratora</button></a>
                {% endif %}

                <br>
                <a href="/messages" method="post">
                    <button class="button">Wiadomości</button>
                </a>

                <br>
                <a href="/">
                    <button class="button">Powrót</button>
                </a>
            </div>
        </div>
    </body>
</html>