<!doctype html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <title>Rejestracja</title>

        <link rel="stylesheet" type="text/css" href="../../static/css/styles.css"/>
  
    </head>


    <body class="padlogin">

        <div class="center">
            <h1>Zarejestruj się</h1>
            
            <form method="POST" , enctype="multipart/form-data" action='/register'>
                <label for="username">Nazwa użytkownika:</label><br>
                <input type="text" id="username" name="username">
                <br><br>
                <label for="password">Hasło:</label><br>
                <input type="password" id="password" name="password">
                <br><br>
                <label for="password_retype">Powtórz hasło:</label><br>
                <input type="password" id="password_retype" name="password_retype">
                <br><br>
                <input class="button" type="submit" value="Zarejestruj">
              </form>

            <br>
            <a href="/">
                <button class="button">Powrót</button>
            </a>
        </div>

    </body>
</html>