<!doctype html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <title>Strona główna</title>
        <link rel="stylesheet" type="text/css" href="../../static/css/styles.css"/>

    </head>


    <body background="background2.png">

        <div class="menu" id="wrapper">
            <div id="left">
                <a href="/oferta" method="post">
                    <button class="button">Oferta</button></a>
                <a href="/miasta" method="post">
                    <button class="button">Miasta</button></a>
                <a href="/oNas" method="post">
                    <button class="button">O nas</button></a>

            </div>

            <div id="right">
                {% if logged == True %}
                    {% if unread_messages == True %}
                        <a href="messages">
                            <button id = "messagesbutton" class="button_new_mes">Wiadomości [Nowe]</button></a> 
                    {% else %}
                        <a href="messages">
                            <button id = "messagesbutton" class="button">Wiadomości</button></a>
                    {% endif %}

                    <a href="profile_page">
                        <button class="button">Profil</button></a>
                    <a href="log_out">
                        <button class="button">Wyloguj się</button></a>
                {% else %}
                <a href="login_page">
                    <button class="button">Zaloguj się</button></a>
                <a href="register">
                    <button class="button">Zarejestruj się</button></a>
                {% endif %}
            </div> 
        </div>
        <br>
        <div class="siteheader">
            <h1 style="color:rgb(80, 80, 80)">Poznaj naszą ofertę i wynajmij samochód</h1>
            <br><br>
            <a href="/oferta" method="post">
                <button class="button-big">Oferta</button></a>
            <br><br>
            <a href="/miasta" method="post">
                <button class="button-big">Miasta</button></a>
            <br><br>
            <a href="/oNas" method="post">
                <button class="button-big">O nas</button></a>
            
        </div>


    </body>
</html>