<!doctype html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <title>Admin</title>
        <link rel="stylesheet" type="text/css" href="../../static/css/styles.css"/>

        <style>
            table {
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #f1f1f1;
            }
        </style>
    </head>


    <body class="padmessages">

        <div>
            <table>
                <tr>
                  <th>Marka</th>
                  <th>Model</th>
                  <th>Typ</th>
                  <th>Rok produkcji</th>
                  <th>Typ paliwa</th>
                  <th>Skrzynia biegów</th>
                  <th>Cena za dobe</th>
                  <th>Miasto</th>
                  <th></th>
                </tr>
                $cartable
              </table>

              <br><br>
              <a href="add_car">
                <button class="button">Dodaj samochód</button>
            </a>
    

        </div>

        <a href="/admin">
            <button class="button">Powrót</button>
        </a>


    </body>
</html>