<!doctype html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <title>Admin</title>
        <link rel="stylesheet" type="text/css" href="../../static/css/styles.css"/>

    </head>


    <body class="padlogin">

        <div class="center">
            <h1></h1>
            <a href="admin/reservations">
                <button class="button-big">Wyświetl rezerwacje</button>
            </a>
            <br><br>
            <a href="admin/cars">
                <button class="button-big">Zarządzaj samochodami</button>
            </a>
            <br><br>
            <a href="admin/send_message">
                <button class="button-big">Wyślij wiadomość</button>
            </a>
            <br><br>
            <a href="/">
                <button class="button-big">Wyświetl strone jako klient</button>
            </a>
        </div>


    </body>
</html>