<!doctype html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        
        <title>Admin</title>
        
        <style>
            .center {
                margin: auto;
                border: 3px solid #bebebe;
                padding: 10px;
                text-align: center;
            }

            .pad{
                padding-top: 10%;
                padding-left: 30%;
                padding-right: 30%;
            }
        </style>
    </head>


    <body class="pad">

        <div>
            <h1>Samochody</h1>
            <ol>
                <li></li>
            </ol>
        </div>

    </body>
</html>