<!doctype html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        
        <title>Admin</title>
        
        <style>
            body{
                font-family: arial, sans-serif;
            }
            
            .center {
                margin: auto;
                border: 3px solid #bebebe;
                padding: 10px;
                text-align: center;
            }

            .pad{
                padding-top: 10%;
                padding-left: 30%;
                padding-right: 30%;
            }
        </style>
    </head>


    <body class="pad">

        <div>
            <h1></h1>
            <a href="admin_start_page/reservations">
                <button class="btn btn-primary btn-lg">Wyświetl rezerwacje</button>
            </a>
            <br><br>
            <a href="admin_start_page/cars">
                <button class="btn btn-primary btn-lg">Zarządzaj samochodami</button>
            </a>
        </div>

    </body>
</html>