<!doctype html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        
        <title>Logowanie</title>
        
        <style>
            .center {
                margin: auto;
                border: 3px solid #bebebe;
                padding: 10px;
                text-align: center;
            }

            .pad{
                padding: 10%;
            }
        </style>
    </head>


    <body class="pad">

        <div class="center">
            <h1>Zaloguj lub zarejestruj się</h1>
            <a href="login_page">
                <button class="btn btn-primary btn-lg">Zaloguj się</button>
            </a>
            <br><br>
            <a href="register_page">
                <button class="btn btn-primary btn-lg">Zarejestruj się</button>
            </a>
        </div>

    </body>
</html>